===== Request Fields
|===
|fields|type|optional|description|author

{{#fields}}
|{{path}}
|{{type}}
|{{^optional}}true{{/optional}}
|{{description}}
|{{#author}}{{author}}{{/author}}

{{/fields}}

|===